<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 第二种 声明式事务管理  -->
	
	<!-- 导入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 数据库连接池  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 业务层 -->
	<bean id="accountService" class="com.spring.transactionproxyfactorybean.AccountServiceImpl">
		<property name="accountDAO" ref="accountDAO"></property>
	</bean>
	
	<!-- DAO -->
	<bean id="accountDAO" class="com.spring.transactionproxyfactorybean.AccountDAOImpl">
		<!-- 将连接池注入给DAO ，JdbcDaoSupport 自动创建 JdbcTemplate对象 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 为AccountService 创建代理 -->
	<bean id="accountServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<!-- 目标 -->
		<property name="target" ref="accountService"></property>
		<!-- 针对接口代理 -->
		<property name="proxyInterfaces" value="com.spring.transactionproxyfactorybean.AccountService"></property>
		<!-- 增强  事务管理-->
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">  <!-- 事务管理属性 -->
			 <!-- 针对目标对象 每个方法 ，设置隔离级别、传播行为、是否只读 -->
			 <props>
			 	<!-- key就是方法名 -->
			 	<!-- value prop格式：PROPAGATION,ISOLATION,readOnly,-Exception,+Exception -->
			 	<prop key="transfer">PROPAGATION_REQUIRED</prop>
			 </props>
		</property>
	</bean>

	
</beans>
