<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 引入properties -->
<!-- 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!--           <property name="location" value="classpath:jdbc.properties"></property> -->
<!-- 	</bean> -->

	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置数据库连接池 -->
	<!-- 第一种 Spring内置连接池 -->
<!-- 	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property> -->
<!-- 		<property name="url" value="jdbc:mysql:///spring"></property> -->
<!-- 		<property name="username" value="root"></property> -->
<!-- 		<property name="password" value="abc"></property> -->
<!-- 	</bean> -->
	
	<!-- 第二种 DBCP 连接池 -->
<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property> -->
<!-- 		<property name="url" value="jdbc:mysql:///spring"></property> -->
<!-- 		<property name="username" value="root"></property> -->
<!-- 		<property name="password" value="abc"></property> -->
<!-- 	</bean> -->

	<!-- 第三种 c3p0 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 将连接池注入到 JdbcTemplate对象 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置UserDAO -->
	<bean id="userDAO" class="com.spring.UserDAO">
		<!-- 注入jdbcTemplate -->
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
</beans>